<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Login</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A300%2C600%2C700%2C800%2C900" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C600%2C700%2C800%2C900" />
  <link rel="stylesheet" href="css/login.css" />
</head>

<body>
  <div class="login-container">
    <div class="mini-container">
      <div class="rectangle-1"></div>
      <div class="move">
        <div class="rectangle-2"></div>
        <div class="img-container">
          <img class="login-img" src="Images/login-image.jpg" alt="">
        </div>
        <div class="rectangle-3"></div>
        <img class="logo" src="Images/main-logo.png" alt="LOGO">
        <form action="/login" method="post">
          <input class="email" type="email" name="username" id="username" placeholder="Enter Username">
          <input class="password" type="password" name="password" id="password" placeholder="Enter Password">
          <button type="submit" name="button">
            <div class="rectangle-4"></div>
            <p class="login-header">LogIn</p>
          </button>
        </form>
        <p class="email-head">USERNAME</p>
        <p class="password-head">PASSWORD</p>
      </div>
      <div class="rectangle-5"></div>
      <p class="login-head">LogIn</p>
      <div class="ellipse"></div>
      <a href="/"><img class="back-arrow" src="Images/backarrow.png" /></a>
    </div>

  </div>
</body>

</html>
