<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/popup-admission.css">
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.0/bootstrap.min.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PopUp</title>
</head>
<body>


    <div class="h-100 d-flex align-items-center justify-content-center">

            <div class="popbox card" >
            <img class="img" src="Images/checked.png" alt="">
            <h4>Your details have been saved</h4>
            <h6>Your email: <%= username %></h6>
            <h6>Your password: <%= password %></h6>
          <a href="/"><h5>Get back to <b> Home Page</b></h5></a>
        </div>

      </div>
</body>
</html>
